# Ignore everything
/*
public/_redirects
public/og.jpg
public/robots.txt
*.png
*.jpg
*.jpeg
*.svg
*.gif
*.pdf

# Except these files & folders
!/src
!/public
!/.github
!tsconfig.json
!astro.config.mjs
!package.json
!.prettierrc
!.eslintrc.js
!README.md
