---
import { Image } from 'astro:assets';
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

const allArt = await Astro.glob("../../public/art/*").then(files => {
  return files.map(file => file.default);
});
---

<Layout title={`Art | ${SITE.title}`}>
  <Header />
  <Main pageTitle="Art" pageDesc="🌸 Botanical pen & ink sketches">
    <center>
      <div class="container">
        {
          allArt.map(sketch => (
          <div class="aspect-w-1 aspect-h-1"><Image src={sketch} alt="" /></div>
          ))
        }
      </div>
    </center>
  </Main>
  <Footer />
</Layout>

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
  }
</style>
