<!-- ---
import { Image } from "@astrojs/image/components";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

const allArt = await Astro.glob("../art/*.jpeg").then(files => {
  return files.map(file => file.default);
});
---

<Layout title={`Art | ${SITE.title}`}>
  <Header />
  <Main pageTitle="Art" pageDesc="Some recent projects...">
    <div class="image-gallery">
      {allArt.map(sketch => <img src={sketch} />)};
    </div>
  </Main>
  <Footer />
</Layout>

<style>
  .image-gallery {
    overflow: auto;
    margin-left: -1% !important;
  }

  .image-gallery a {
    float: left;
    display: block;
    margin: 0 0 1% 1%;
    width: 19%;
    text-align: center;
    text-decoration: none !important;
  }

  .image-gallery a span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 3px 0;
  }

  .image-gallery a img {
    width: 100%;
    display: block;
  }

  .square {
    height: 19%;
    width: 19%;
    background-color: #ccc;
  }
</style> -->
